.App {
  display: flex;
  
}

.Sidebar {
  padding: 1.5rem;
  flex: 6%;
  background-color: black;
  height: 100vh;
}

.WorkoutPage {
  flex: 94%;
  padding: 2rem;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.Categlory {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  margin-top: 5em;
}

.Categlory__items {
  height: 150px;
  background-color: brown;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  width: 85px;
}

.Categlory__items--icon {
  margin-top: .5rem;
}

.Workout__cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  gap: 1rem;
}